
#wrapper {
  align-items: center;
  display: flex;
  height: 600px;
  justify-content: center;
}

#loading {
  height: 500px;
  position: relative;
  width: 500px;
}

.ring {
  animation: ring linear 5s infinite;
  width: 500px;
  animation-delay: calc(var(--rand4)*1s);
}

 @keyframes ring {

   100% {
     transform: rotate3d( calc(var(--rand1)), calc(var(--rand2)), calc(var(--rand3)), 359deg);
   }
}



#container {
  width: 200px;
  height: 200px;
  margin: 40px auto;
  border: 1px solid #000;
  display:grid;
  grid-template-columns:30px;
  grid-template-rows:30px;
  place-content: center;
  border-radius: 50%;
}
.item {
  grid-area:1/1;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background: #f00;
  animation: spin 12s var(--d,0s) linear infinite; /* duration = 12s, numbor of item = 6 so a delay of 12/6 = 2s */
  transform:rotate(0) translate(100px) rotate(0);
}

.box {
  background-color: lightgrey;
  border: 2px solid green;
  padding: 2px;
  margin: 2px;
}

.rotate {
	--rand: 0;
	transform-origin: var(--rand) var(--rand);
	animation: rotation infinite linear;
	animation-duration: calc(var(--rand2)*1s);
	animation-delay: calc(var(--rand3)*1s);
}

.Testing1 {
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
}

    .circle-container {
        position: relative;
        width: 35em;
        height: 35em;
        padding: 0;
        /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
        border: dashed 3px;
        border-radius: 50%;
        margin: 1.75em auto 0;
		display: flex;
		justify-content: center;
		align-items: center;
    }
    .circle-container a {
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        width: 4em; height: 4em;
        margin: -2em;
    }
    .circle-container img { display: block; width: 100%; }
    .deg0 { transform: translate(calc(var(--rand3)*1em)); } /* 12em = half the width of the wrapper */
    .deg45 { transform: rotate(45deg) translate(calc(var(--rand3)*1em)) rotate(-45deg); }
    .deg90 { transform: rotate(90deg) translate(calc(var(--rand3)*1em)) rotate(-90deg); }
    .deg135 { transform: rotate(135deg) translate(calc(var(--rand3)*1em)) rotate(-135deg); }
    .deg180 { transform: rotate(180deg) translate(calc(var(--rand3)*1em)) rotate(-180deg); }
    .deg225 { transform: rotate(225deg) translate(calc(var(--rand3)*1em)) rotate(-225deg); }
    .deg270 { transform: rotate(270deg) translate(calc(var(--rand3)*1em)) rotate(-270deg); }
    .deg315 { transform: rotate(315deg) translate(calc(var(--rand3)*1em)) rotate(-315deg); }

@keyframes spin {
  100% {
    transform:rotate(1turn) translate(100px) rotate(-1turn);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}