
.box {
  background-color: lightgrey;
  border: 2px solid green;
  padding: 2px;
  margin: 2px;
}

.rotate {
	--rand: 0;
	transform-origin: var(--rand) var(--rand);
	animation: rotation infinite linear;
	animation-duration: calc(var(--rand2)*1s);
	animation-delay: calc(var(--rand3)*1s);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}